MuleFlywayIntegration/src/main/app/dbmigration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<db:mysql-config name="MySQL_Configuration"
		dataSource-ref="dataSource" doc:name="MySQL Configuration" />

	<spring:beans>
		<context:property-placeholder
			location="classpath:config/local.properties,
             classpath:config/environment/${mule.env}.properties" />

		<spring:bean id="dataSource" name="dataSource"
			class="org.apache.commons.dbcp.BasicDataSource">
			<spring:property name="driverClassName" value="com.mysql.jdbc.Driver" />
			<spring:property name="url"
				value="jdbc:mysql://${mysql.host}:${mysql.port}/${mysql.database}" />
			<spring:property name="username" value="${mysql.username}" />
			<spring:property name="password" value="${mysql.password}" />
		</spring:bean>

		<spring:bean id="flyway" class="org.flywaydb.core.Flyway"
			init-method="migrate">
			<spring:property name="initOnMigrate" value="true" />
			<spring:property name="locations" value="classpath:/db/migration/" />
			<spring:property name="dataSource" ref="dataSource" />
		</spring:bean>

	</spring:beans>


	<flow name="dbmigrationFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/hello" doc:name="HTTP" />
		<logger message="You are in Mule DB Migration Project." level="INFO"
			doc:name="Logger" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from demo;]]></db:parameterized-query>
		</db:select>
		<set-payload value="Hello World from Mule DB. #[payload]"
			doc:name="Set Payload" />
	</flow>

</mule>
